html, body { margin: 0; }
body { font-family: Arial, Helvetica, sans-serif; }
.homeTuner {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.homeDevice svg {
  width: 100%;
}
.noteCloseTo {
  margin: 0;
  text-align: center;
  color: #333;
}